.section-search-bar {
  overflow-x: hidden;
  padding: 4px;

  .search-wrapper {
    position: relative;
    margin-bottom: 1.875rem;
  }

  .search {
    width: 100%;
    height: 62px;
    margin-top: 30px;
    border-radius: 16px;
    border: none;
    background-color: #fbf8ff;
    font-size: 18px;
    font-family: "Poppins-Rg";
    padding-left: 1.25rem;
    color: #fc2121;
    letter-spacing: 0.8px;
  }

  .search::placeholder {
    font-family: "Poppins-Lt";
  }

  .search:focus {
    outline: 1px solid #fc2121;
  }

  .search-icon {
    position: absolute;
    top: 72%;
    right: 5%;
    transform: translate(-50%, -50%);
  }

  .genres-wrapper {
    display: flex;
    column-gap: 0.625rem;
    overflow-x: scroll;
    margin-bottom: 3.125rem;
    position: relative;
    padding-bottom: 1rem;
    scrollbar-color: red;
    scrollbar-base-color: red;
  }

  .genres {
    font-family: "Poppins-Md";
    min-width: 100px;
    border-radius: 0.625rem;
    border: none;
    background-color: #fbf8ff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }

  .genres:hover {
    background-color: #fc2121;
    color: #fff;
  }

  .active {
    background-color: #fc2121;
    color: #fff;
  }

  .genres-wrapper::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.4rem;
  }
  .genres-wrapper::-webkit-scrollbar-track {
    background-color: none;
  }

  .genres-wrapper::-webkit-scrollbar-thumb {
    background-color: #fc2121;
    border-radius: 100vw;
    margin-block: 5rem;
  }

  .genres-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 97%, 36%);
  }
}
