.main-home {
  margin-bottom: 6rem;

  margin-top: 50px;

  font-family: "Poppins-Rg";
}

.logo {
  width: 90px;
}

.primary-headline {
  font-family: "Poppins-Bd";
  font-size: 2.25rem;
  margin-top: 30px;
}

.sub-headline {
  font-family: "Poppins-Bd";
  font-size: 1.25rem;
}
.dark {
  .main-home {
    color: white;
  }
}

.hidden {
  opacity: 0;
}
